* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 1px;
    text-align: center;
    /* background: #060606; */
    color: white;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  
   /* Sticky navbar_mid - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar_mid will inherit default position */
  .navbar_mid {
    overflow: hidden;
    /*background-color: #b4b4b4;*/
    position: sticky;
    position: -webkit-sticky;
    top: 0;
	float: right;
  }
  
  /* Style the navigation bar links */
  .navbar_mid a {
    float: left;
    display: block;
    color: black;
	font-weight: bold;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .navbar_mid a:hover {
    background-color: #66CDAA;
    color: black;
  }
  
  .navbar_footer {
    overflow: hidden;
    background-color: #66CDAA;
    position: sticky;
    top: 0;
  }
  /* Style the navigation bar links footer*/
  .navbar_footer a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar_footer a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar_footer a:hover {
    background-color: #66CDAA;
    color: black;
  }
  
  /* Active/current link */
  .navbar_footer a.active {
    background-color: #66CDAA;
    color: white;
  }
  
  /* Style the container */
  .container {
    border-radius: 10px;
    background-color: #ffa500;
    padding: 10px;
    }
	
	/* Style the container */
  .container1 {
    border-radius: 10px;
	border-style: solid;
	border-width: thin;
    border-color: #ffa500; 
    padding: 10px;
    }
  
  /* Setting row */
  .row {  
    /*display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    /*flex-wrap: wrap;*/
    width: 100%;
  }
  
    /* Setting row title */
    .row_title {  
        /*display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        background-color: #66CDAA;
        color: white;
        text-align: center;
        
      }
    
      .row_title2 {  
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        background-color:  #f0d803e1;
        color: black;
        text-align: center;
        
      }
	  
	  /* Setting row B */
    .row_B {  
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        background-color: #FFFFFF;
        color: black;
        text-align: center;
        
      }
      
  /* Create two unequal columns that sits next to each other */
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    /*background-color: #fff77a;*/
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .bannerimg {
    content: url(../Assets/LogoUMP.png);
    width: 15%;
}
    
  /* Footer */
  .footer {
	  color: white;
    padding: 1px;
    text-align: right;
    background: #66CDAA;
  }
  
  /* Increase the font size of the heading */
  .footer h5 {
    font-size: 15px;
    color :white;
    text-align: right;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;

    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar_mid a {
      float: none;
      width: 100%;
    }
  }
  
  /* for loan css */
  /* Style inputs, select elements and textareas */
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style inputs, select elements and textareas */
  input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: #060606;
  }
  

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #66CDAA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the reset button */
  input[type=reset] {
    background-color: #66CDAA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
   
    
  /* Floating column for labels: 25% width */
  
    .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
    .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-calc {
    padding: 20px;
    float: left;
    width: 50%;
	color: #66CDAA;
    margin-top: 6px;
  }
  /* Floating column for inputs: 75% width */
  .col-reset {
    padding: 20px;
    float: right;
    width: 50%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-resultlabel {
  
    float: left;
    width: 50%;
    margin-top: 6px;
  }
  /* Floating column for inputs: 75% width */
  .col-resultnumber {
  
    float: right;
    width: 50%;
    margin-top: 6px;
  }
  /* Floating column for inputs: 75% width */
  .col-row-title {
     float: left;
    width: 20%;
    margin-top: 1px;
    padding: 1px;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .col-row-title2 {
    float: left;
    margin-top: 1px;
    padding: 1px;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  /* Floating column for inputs: 75% width */
  .column1 {
  
    float: left;
    width: 20%;
    margin-top: 1px;
	border: 1px solid white;
    border-radius: 4px;
    padding: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  /* Floating column for inputs: 75% width */
  .column2 {
  
    float: right;
    margin-top: 1px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* Floating column for inputs: 75% width */
  .column3 {
  
    float: left;
    width: 25%;
    margin-top: 1px;
    padding: 1px;
    border: 1px solid #66CDAA;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15PX;
    padding-bottom: 15px;
  }
  
    /* Floating column for inputs: 75% width */
    .column_B {
  
        float: right;
        width:100%;
        margin-top: 1px;
        padding:1px;
        border: 1px solid #D4AC0D;


      }
	  .col_A {
		float: right;
		width: 5%;
		padding: 1px;
        border: 1px solid;
      }
	  /* .row:after {
  content: "";
  display: table;
  clear: both;
} */
	  .col_C {
  
        float: left;
        width:20%;
        margin-top: 1px;
        padding:1px;
        border: 1px solid #D4AC0D;


      }
  
  /* Clear floats after the columns */
  .row:after {
   content: "";
   display: table;
   clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  /* Style the container */
  .container_below {
    border-radius: 5px;
    background-color: #e5fbf0;
    padding: 20px;
  }
  

  

  
  
